<footer class="footer">
    <div class="footer-container">

        <!-- Social Icons -->
        <div class="footer-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

        <!-- Copyright -->
        <div class="footer-text">
            © 2026 Airbnb Private Limited. All rights reserved.
        </div>

        <!-- Links -->
        <div class="footer-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms & Conditions</a>
            <a href="/help">Help</a>
        </div>

    </div>
</footer>